<!DOCTYPE html>
<!--
    WEBCONTROLLER iranyitotta Web-bongeszo tranzakcio
    UPDATE
-->

<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <title>Anzek-Hr Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <head>
        <title>Anzek-Hr Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">
    </head>
    <body>
        <h1>Munkavállaló szerkesztése</h1>
        
        <!--        
            Nem ezzel kezdodik...
            A sima "employee.html" a gyoker szolgaltatasi URL-en megjeleno lista minden soraban tartalmaz egy linket.
            Ez a link egy IdEmployee-t kuld az "./employee/updateEmployee" URL-re.
            Ezt "eszleli" egy GET metodus, az "EmployeeWebController.editEmployees()" amely megkeresi ezt az ID-ju peldany
            ...azt betolti egy "modifyEmployee" Kulccsal a MAP<K,V> .be... majd 
            atdob erre a (editEmployee.html) feldolgozora. 
            Ez kiolvassa a "modifyEmployee" peldanyt...
            ... es felposztolja azt!    
            Ez a html ezutan az ADATMENT gomb lenyomasra ezt a "modifyEmployee" peldanyt visszaposztolja ugyan ide az URL-re...
            ...es ezt eszleli a POST-, az "EmployeeWebController.updateEmployee()" metodus, 
            amely a bemeno parametereben, egy Model-ben, egy "employee" objektumpeldanyt var!
            Azt beemeli a ListaTombbe (kikeresi melyik adatait modositottuk es kicsereli) ...
            ...es redirectel ujralistazza (frissiti) a bongeszoben a listat!
            Ezt a fenti megoldast (itt, a HTML-ben) igy summazhatuk:
            - Beallitjuk a szolgaltats UR-jet, a metodust, es az osztalypeldanyt
            - Folposztoljuk itt a html-tozsben, a <form> parameterekkel az "employee" osztalypeldanyt
            - meghivaskor kitolti a user,
            - visszadjuk a kitoltott peldanyt a POST metodusnak, 
            - amely majd kikeresi melyik adatait modositottuk es kicsereli
        -->
        <form th:action="@{/employee/updateEmployee}" method="post" th:object="${modifyEmployee}">
            <!--            
                ez itt egy kis rafineria
                azert van, hogy ne fogadjon el masik "IdEmployee"-t, hiszen az egy azonosito, 
                viszont legyen lathato, hogy mivel dolgozunk,tehat csak a spam- tag-ben kiirjuk!
                De!
                Kell ide ez a hidden input is!
                Megpedig azert, hogy (bar valtoztatni nem lehet) de kitoltott legyen a visszatero Model-be az ID is!
            -->
            
            Id: <span th:text="*{IdEmployee}"> </span><br>            
            <input th:field="*{IdEmployee}" type="hidden" />
            <!--           
                innen mar normal adatbevitel
            -->
            Neve__________________: <input th:field="*{workerName}" /><br>
            Munkakore_____________: <input th:field="*{jobPosition}" /><br>
            Fix havi jovedelme____: <input th:field="*{monthlySalary}" /><br>
            Munkaviszony kezdete__: <input th:field="*{startOfEmployment}" /><br>
            <input type="submit" value="ADATMENT"/><br>
        </form>            
    </body>
</html>
