<!DOCTYPE html>
<!--
    Elso feladat:
    A kontrolletben ket/harom dolognak kell meglennie:
    - kell egy beerkezo kerest fekdolgotni tudo netodus (altalaban valamifele getMetodus() 
    - fel kell legyen Mappingelve a setviceURL @GetMapping("...url/service")
    ha es amennyiben lesz webes adatbevitel, 
    - akkor azt is itt kell elokesziteni a patametreben keszitett Model-ben !

        Az alabbi technologia lenyegeben a fejlett-forciklus 
        kollekcion valo bejarasanak a webes valtozata ...
        <li th:each="employee : ${outemployees}">
            <ul>...</u>
        <li...    
        
        <span th:text="${employee.id}">id</span>
            ez pedig egy sima Output()  
            itt megmondjuk, hogy a kollekciobol betoltott aktualis elem 
            melyik mezojet irja ki a weboldalon eppen a kovetkezo adatkent  

  
    Masik Feladat:
    Irjunk egy formot es kossuk ossze egy objektummal
    Az objekrumnak mar a kontroller GET metodusaban elokeszitettnek kell lenni (lasd egyel fentebb)! 

    Vagyis: elotte a konreoller mar beleteszi a Model-jebe azt az Ogectet ami itt kell!
    Kulonben kivetelt fog dobni!

    Ehhez a kontrolletben fel kell legyen Mappingelve a setviceURL @GetMapping("...url/service")

        - a "th:action" azt mondja meg, hogy "hova posztolűdjon"
        - a "method" az alkalmazott tecgnologia..
        - a "th:object" pedig mi az a "model"-beli objektum, amit ki kell toltenie

    Id_____________________:    <input th:field="*{id}"> <br>    
    a fenti sor egy sima Input() 
    a webes feluletrol,
    itt megmondjuk a "newEmployee" melyik mezojet toltse ki: 
    
    ez lesz az "elkuldo gomb"
    <input type="submit" name="ROGZIT" value="Rogzitem" />
-->

<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <title>Anzek-Hr Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <head>
        <title>Anzek-Hr Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">
    </head>
    <body>
        
        <h1>Munkavallaoi lista, List of "Employees"</h1>
        
        <form th:action="@{/employees}" method="get">
            <input id="txtSearch" type="text" name="id">
            <button type="submit">Modositas</button>            
        </form>     
        
        <ul>
            <!--for-each-ciklus-->
            <li th:each="employee : ${outemployees}">

            <td border="1" class="table table-striped table-responsive-md">
                <a id="Modositas" th:href="@{(id=${employee.id})}">
                <span th:text="${employee.id}">id</span>
                <span th:text="${employee.workerName}">workerName</span>
                <span th:text="${employee.jobPosition}">jobPosition</span>
                <span th:text="${employee.monthlySalary}">monthlySalary</span>       
                <span th:text="${employee.startOfEmployment}">startOfEmployment</span> 
            
            </li> <br>
            
            Lista vege <br>
        </ul>  
        
        <h1>Munkavállaló adatainak Módositasa</h1>

        <form th:action="@{/employees}" method="post" th:object="${newEmployee}">

            Id_____________________:    <input th:field="*{id}"> <br>
            A munkvallalo meve______:    <input th:field="*{workerName}"> <br>
            Munkakore _____________:    <input th:field="*{jobPosition}"> <br>
            Havi fix-juttatasa_________:    <input th:field="*{monthlySalary}"> <br>

            <input type="submit" name="ROGZIT" value="Rogzitem" />
        </form>                          
    </body>
</html>
