<!DOCTYPE html>
<!--
    Elso feladat:
    A kontrolletben ket/harom dolognak kell meglennie:
    - kell egy beerkezo kerest fekdolgotni tudo netodus (altalaban valamifele getMetodus() 
    - fel kell legyen Mappingelve a setviceURL @GetMapping("...url/service")
    ha es amennyiben lesz webes adatbevitel, 
    - akkor azt is itt kell elokesziteni a patametreben keszitett Model-ben !

        Az alabbi technologia lenyegeben a fejlett-forciklus 
        kollekcion valo bejarasanak a webes valtozata ...
        <li th:each="employee : ${outemployees}">
            <ul>...</u>
        <li...    
        
        <span th:text="${employee.id}">id</span>
            ez pedig egy sima Output()  
            itt megmondjuk, hogy a kollekciobol betoltott aktualis elem 
            melyik mezojet irja ki a weboldalon eppen a kovetkezo adatkent  

  
    Masik Feladat:
    Irjunk egy formot es kossuk ossze egy objektummal
    Az objekrumnak mar a kontroller GET metodusaban elokeszitettnek kell lenni (lasd egyel fentebb)! 

    Vagyis: elotte a konreoller mar beleteszi a Model-jebe azt az Ogectet ami itt kell!
    Kulonben kivetelt fog dobni!

    Ehhez a kontrolletben fel kell legyen Mappingelve a setviceURL @GetMapping("...url/service")

        - a "th:action" azt mondja meg, hogy "hova posztolűdjon"
        - a "method" az alkalmazott tecgnologia..
        - a "th:object" pedig mi az a "model"-beli objektum, amit ki kell toltenie

    Id_____________________:    <input th:field="*{id}"> <br>    
    a fenti sor egy sima Input() 
    a webes feluletrol,
    itt megmondjuk a "newEmployee" melyik mezojet toltse ki: 
    
    ez lesz az "elkuldo gomb"
    <input type="submit" name="ROGZIT" value="Rogzitem" />
-->

<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <title>Anzek-Hr Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <head>
        <title>Anzek-Hr Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">
    </head>
    <body>
        
        <div class="container my-2" align="center">
            
            <h1>Munkavallaoi lista, List of "Employees"</h1>

            <table border="1" class="table table-striped table-responsive-md">

                <tbody>

                    <tr>
                        <th>IdOfEmployee</th>    
                        <th>ModifyEmployee</th>
                        <th>JobPosition</th>
                        <th>monthlySalary</th>
                        <th>StartOfEmployment</th>
                        <th>DeleteOfEmploye</th>
                    </tr>
                    
                    <!--
                        Ez egy for-each-ciklus, amely a "EmployeeWebController.getListEmployees()" -ben deklaralt
                        "outemployees" peldany mezoit olvassa:
                    -->
                    <tr border="1" align="right" th:each="employee : ${outemployees}">
                        
                        <td th:text="${employee.id}">id</td>

                        <!--    Ez itt a Modositas (linkje lesz):
                                az "/employees/updateEployee/{id}..." szolgaltatasi vegpontra 
                                varjuk a modositando "id" -t !
                                Es, hogy hogy mi "legyen" majd az "id" az a futasidoben valik el...
                                .. ezert a ( id = ${employee.id} ) -formaban kell megadnunk!
                                ----
                                az alabbi Link hivatkozik pl egy ilyenre (ha  mondjuk a 2.es id-vel rendelkezore mutatunk:
                                "localhost:8080/employees/2"
                                ... ekkor meg kell hivnunk az "editEmployee.HTML"-t az "Id=2" -vel !
                                Ezt egy "@GetMapping" es GET metodus, parameterben a "Model" -el oldja meg
                        -->
                        <td><a th:href="@{/employees/updateEmployee/{id}( id = ${employee.id} )}" th:text="${employee.workerName}">Name</a></td> 

                        <td th:text="${employee.jobPosition}">JobPosition</td>
                        <td th:text="${employee.monthlySalary}">monthlySalary</td> 
                        <td th:text="${employee.startOfEmployment}">StartOfEmployment</td>  

                        <!--
                                az "./deleteEmployees/..." szolgaltatsi vegpontra 
                                varjuk a torlendo "id" -t !
                        -->
                        <td><a th:href="@{/employees/deleteEmployee/{id}( id = ${employee.id} )}">DeleteEmployee</a></td>  
                    </tr>        
                </tbody>
            </table>
            <br><br>
                
            <h1>Munkavállaló adatainak Újbevitel/Módositas</h1>
            <h2>Létező kód megadása -> Módositas</h2>
            <h2>Új kód megadása -> Újbevitel</h2>
            
            <table border="1" align="right" class="table table-striped table-responsive-md">
                
                <!--
                         az "/employees..." szolgaltatsi vegponton adatbevitel
                -->
                <tbody>
                    
                    <form th:action="@{/employees}" method="post" th:object="${newEmployee}">

                        Id_____________________:    <input th:field="*{id}"> <br>
                        A munkvallalo meve______:    <input th:field="*{workerName}"> <br>
                        Munkakore _____________:    <input th:field="*{jobPosition}"> <br>
                        Havi fix-juttatasa_________:    <input th:field="*{monthlySalary}"> <br>
                        Munkaba allasa_________:    <input th:field="*{startOfEmployment}" th:type="date-time"> <br>

                        <!--    - "type" - submit (bekulde)
                                - "name" - egy azonosito
                                - "value" - caption
                        -->
                        <input type="submit" name="add" value="ROGZIT" />
                    </form>
                </tbody>
            </table>
        </div>
    </body>
</html>
